.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E8DAEF;
}

h1 {
  color: #080372;
  font-weight: bold;
}

h2 {
  color: #1567CA;
  font-weight: 700;
}

body { 
    background: #F5FFFA  url("http://hogar.movistar.cl/publiguias/img/publiguias2.png") no-repeat fixed top right; 
}